@model ECinemaTicket.Domain.DomainModels.Order

 <h2 class="mb-3 ml-2">Order Details For: <a class="btn btn-success font-weight-bold text-white">@Model.User.Email</a></h2>

<div class="container-fluid">

    @for (int i = 0; i < Model.Tickets.Count; i++)
    {
        var item = Model.Tickets.ElementAt(i).SelectedTicket;

        //otvori red
        if (i % 3 == 0)
        {
            @: <div class="row mb-3">
            }


            <div class="col-4">
                <div class="card" style="width: 20rem; height: 35rem">
                    <img class="card-img-top" src="@item.MovieImage" style="background-size: cover; width:100%; height: 80%;" />

                    <div class="card-body m-1 p-2">
                        <h3 class="card-title">@item.MovieName   </h3>
                        <p class="card-text"><span class="font-weight-bold">Description:</span> @item.MovieDescription</p>
                        <h6><i>Price:</i> <b>@item.MoviePrice MKD</b></h6>
                    </div>

                </div>
            </div>


            //zatvori red
            if (i % 3 == 2)
            {
            @: </div>
        }
    }

</div>